.container {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  font-family: Rajdhani;
  position: relative;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-left: 20%;
}

.information {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 20px 20px 20px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background-color: rgba(0, 19, 55, 0.3);
  gap: 20px;
  margin-top: 70%;
}
.person {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.person h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.person span {
  color: #fff;
  margin: 0;
}

.text-1 {
  display: flex;
  flex-direction: column;
}

.number {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 13%;
  gap: 10px;
}

.number span {
  color: #fff;
  font-weight: 500;
}
.address {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 13%;
  gap: 10px;
}
.address span {
  width: 60%;
  color: #fff;
  font-weight: 500;
}

.icon {
  width: 56px;
  height: 56px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #0052b4;
  background-color: #fff;
  margin-right: 1%;
}

.image {
  width: 45%;
  height: 10vh;
  border-radius: 20px;
  position: absolute;
}
.images {
  width: 70%;
  gap: 10px;
}

.contact-us {
  height: 40vh;
  width: 30%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 40%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(66px);
  backdrop-filter: blur(66px);
  box-shadow: 25px 26px 100px 0 rgba(41, 95, 131, 0.2);
  border-image-source: linear-gradient(
    to bottom,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.top-section h1 {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}
.top-section span {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #737b8f;
}

.input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: #000 0px 0px 20px 0px;
}
input[type="text"] {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: left;
}
.input-1 {
  width: 100%;
  display: flex;
  gap: 20px;
}
.input-1 input {
  height: 48px;
  width: 90%;
  border-radius: 8px;
  background-color: white;
  outline: none;
  border-color: inherit;
  box-shadow: none;
  outline: none;
  border: none;
  color: #000;
  box-shadow: #000 0px 0px 20px 0px;
}

input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: #000 0px 0px 20px 0px;
}

.question {
  height: 150px;
  width: 100%;
  gap: 4px;
  border-radius: 8px;
  background-color: white;
  border: none;
}
