header {
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 40px 156px;
  gap: 24px;
}
.logo-sun {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 12px;
}
.sun-energy {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 400;
  font-stretch: normal;
  text-align: left;
  color: #fff;
}
.menu {
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.menu ul {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.menu li a {
  font-family: var(--font-family);
  text-decoration: none;
  color: #fff;
  font-size: large;
}
.contact-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-container span {
  color: #fff;
  font-size: large;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  border-radius: 50%;
  margin-left: 8px;
}
